<div class="container">
  <h3>Ingresa los valores para poder realizar una búsqueda:</h3>
  <form (ngSubmit)="getData()" [formGroup]="apiForm" novalidate>
    <div class="login-fields" fxLayout="column">
      <mat-form-field [hideRequiredMarker]="true">
        <input type="number" matInput formControlName="page" [placeholder]="'Página' | translate" />
        <mat-error *ngIf="apiForm.controls['page'].invalid && apiForm.controls['page'].touched">
          <span translate>Número de página es obligatorio</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <input
          type="number"
          matInput
          formControlName="pageSize"
          [placeholder]="'Tamaño de página' | translate"
          required
        />
        <mat-error *ngIf="apiForm.controls['pageSize'].invalid && apiForm.controls['pageSize'].touched">
          <span translate>Tamaño de página es obligatorio</span>
        </mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" type="submit" [disabled]="apiForm.invalid || isLoading">
        <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
        <span translate>Consultar información</span>
      </button>
    </div>
  </form>

  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
