

.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.map-container {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
  padding-bottom: 2rem;
}

.map-frame {
  display: block;
  border: 2px solid black;
  height: 600px;
  width: 900px;
  margin: auto;
}

#map {
  height: 600px;
}
